@model IEnumerable<EnrollmentApplication.Models.Enrollment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignedCampus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnrollmentSemester)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnrollmentYear)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.StudentId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CourseId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Grade)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Student)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Course)
    </td>
    <td>
        @Html.DisplayNameFor(model => model.IsActive)
    </td>
    <td>
        @Html.DisplayNameFor(model => model.AssignedCampus)
    </td>
    <td>
        @Html.DisplayNameFor(model => model.EnrollmentSemester)
    </td>
    <td>
        @Html.DisplayNameFor(model => model.EnrollmentYear)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.EnrollmentId }) |
        @Html.ActionLink("Details", "Details", new { id = item.EnrollmentId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.EnrollmentId })
    </td>
</tr>
}

</table>
